body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
    margin-left: -270px;
    font-size: 24px;
    color: white;
}
.navbar-brand:hover {
    color: #ffa600 !important;
}

.navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}


.navbar-nav .nav-link:hover {
    color: #ffa600; 
}

.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right, #a380c9, #c53b11);
    color: white;
    padding: 50px;
}

.hero-img {
    width: 180px; /* Adjust size */
    height: 180px;
    border-radius: 50%; /* Circular Image */
    border: 4px solid yellow; /* Match text color */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Soft shadow */
    animation: fadeIn 1.5s ease-in-out; /* Keep the animation */
    transition: transform 0.3s ease-in-out;
}

.hero-img:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}


#about {
    height: 70vh;
    background-color: #f8f9fa;
    padding: 120px 0;
}


#about h1 {
    font-size: 4rem;
    color: #ff6600;
    text-transform: uppercase;
}


#about i {
    font-size: 1.5rem !important;
    margin-right: 10px !important;
}


.fade-in {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
}

.fade-in-left {
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeInLeft 1s ease-out forwards;
}

.fade-in-right {
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInRight 1s ease-out forwards;
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.projects .card {
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.projects .card:hover {
    transform: scale(1.05);
}

.projects img {
    height: 200px;
    object-fit: cover;
}


#contact {
    display: none;
}
